@import url("https://fonts.googleapis.com/css?family=Noto+Sans&display=swap");

body {
  margin: 0;
  height: 100vh;
  font-family: "Noto Sans", sans-serif;
  background: #2c3639;
}

a:link {
  text-decoration: none;
  color: aliceblue;
}

a:visited {
  text-decoration: none;
  color: aliceblue;
}

a:active {
  text-decoration: none;
  color: aliceblue;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.2fr auto 4fr;
  height: 100vh;
}

nav {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.grid-logo {
  grid-column: 1 / 2;
  grid-row: 1 / 1;
}

#logo {
  height: 90px;
  padding-left: 90px;
  padding-top: 4px;
}

.logo-text {
  padding-left: 200px;
  width: 100%;
  text-align: left;
  font-size: 60px;
  font-weight: 900;
  white-space: nowrap;
  text-shadow: 5px 5px 8px black;
  color: aliceblue;
}

.nav-additional {
  grid-column: 2 / 2;
  grid-row: 1 / 2;
  text-align: right;
  word-spacing: 100px;
  font-size: 24px;
  padding-top: 24px;
  padding-right: 10px;
  font-weight: 900;
  white-space: nowrap;
  text-shadow: 5px 5px 8px black;
  color: aliceblue;
}

.testimonials-bg {
  grid-column: 1 / 4;
  grid-row: 2 / 2;
}

#test-img {
  height: 400px;
  width: 100%;
}

.text-wrapper {
  grid-column: 2 / 2;
  grid-row: 2 / 2;
  text-align: center;
  background-size: cover;
}

h1 {
  color: aliceblue;
  font-weight: 900;
  text-shadow: 5px 5px 8px black;
  font-size: 40px;
  margin-top: 110px;
}

p {
  color: aliceblue;
  font-weight: 900;
  text-shadow: 5px 5px 8px black;
  font-size: 28px;
}

.testimonials-imgs {
  grid-column: 2 / 3;
  grid-row: 3 / 3;
  background-color: #202125;
  border-radius: 20px;
  margin-top: 30px;
}

#review1 {
  margin-left: 85px;
  margin-top: 15px;
}

#review2 {
  margin-left: 85px;
  margin-top: 15px;
}

#review3 {
  margin-left: 85px;
  margin-top: 15px;
}

#review4 {
  margin-left: 85px;
  margin-top: 15px;
}

#review5 {
  margin-left: 85px;
  margin-top: 15px;
}

#review6 {
  margin-left: 85px;
  margin-top: 15px;
}

@media only screen and (max-width: 601px) {
  a:link {
    text-decoration: none;
    color: aliceblue;
  }

  a:visited {
    text-decoration: none;
    color: aliceblue;
  }

  a:active {
    text-decoration: none;
    color: aliceblue;
  }

  .body-wrapper {
    overflow-x: hidden;
    overflow-y: auto;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 100vh;
  }

  nav {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .grid-logo {
    grid-column: 1 / 2;
    grid-row: 1 / 1;
  }

  #logo {
    position: relative;
    top: 5.9px;
    right: 3px;
    height: 50px;
    padding-left: 10px;
    padding-top: 4px;
  }

  .logo-text {
    padding-left: 60px;
    padding-top: 10px;
    width: 100%;
    text-align: left;
    font-size: 34px;
    font-weight: 900;
    white-space: nowrap;
    text-shadow: 5px 5px 8px black;
    color: aliceblue;
    position: relative;
    bottom: 5px;
  }

  .nav-additional {
    position: relative;
    top: 70px;
    left: 5vh;
    grid-column: 1 / 1;
    grid-row: 1 / 2;
    text-align: center;
    word-spacing: 50px;
    font-size: 15px;
    padding-top: 5px;
    padding-right: 250px;
    font-weight: 900;
    text-shadow: 5px 5px 8px black;
    white-space: nowrap;
  }

  .testimonials-bg {
    grid-column: 1 / 1;
    grid-row: 2 / 2;
  }

  #test-img {
    height: 400px;
    width: 100%;
  }

  .text-wrapper {
    grid-column: 1 / 1;
    grid-row: 2 / 2;
    text-align: center;
    background-size: cover;
  }

  h1 {
    color: aliceblue;
    font-weight: 900;
    text-shadow: 5px 5px 8px black;
    font-size: 8vw;
    margin-top: 15vh;
    margin-right: 40vw;
  }

  p {
    color: aliceblue;
    font-weight: 900;
    text-shadow: 5px 5px 8px black;
    font-size: 3.9vw;
    margin-right: 40vw;
  }

  .testimonials-imgs {
    grid-column: 1 / 1;
    grid-row: 3 / 3;
    background-color: #202125;
    border-radius: 20px;
    margin-top: 30px;
    width: 46vh;
  }

  #review1 {
    margin-left: 0;
    width: 46vh;
  }

  #review2 {
    margin-left: 0;
    width: 46vh;
  }

  #review3 {
    margin-left: 0;
    width: 46vh;
  }

  #review4 {
    margin-left: 0;
    width: 46vh;
  }

  #review5 {
    margin-left: 0;
    width: 46vh;
  }

  #review6 {
    margin-left: 0;
    width: 46vh;
  }
}
